@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table class="table table-striped">
    <thead>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Gender</th>
    </tr>
    </thead>
    @foreach (var contact in Global.Contacts)
    {
        <tr>
            <td>@contact.FirstName</td>
            <td>@contact.LastName</td>
            <td>@contact.Email</td>
            <td>@contact.PhoneNumber</td>
            <td>@contact.Gender</td>
        </tr>
    }
</table>
